/* Container */
.confetti-layer {
  overflow: hidden;
}

/* Confetti base */
.confetti {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 18px;
  border-radius: 2px;
  opacity: 0.95;
  transform-origin: center;
  animation: confetti-pop 3.5s cubic-bezier(0.15, 0.7, 0.3, 1) forwards;
}

/* Individual trajectories */
.c1  { background:#ec4899; animation-delay:0s;   --x:-260px; --y:-320px; --r:720deg; }
.c2  { background:#f43f5e; animation-delay:0.05s;--x:260px;  --y:-300px; --r:-720deg; }
.c3  { background:#fb7185; animation-delay:0.1s; --x:-200px; --y:-260px; --r:680deg; }
.c4  { background:#fda4af; animation-delay:0.15s;--x:200px;  --y:-280px; --r:-680deg; }

.c5  { background:#f472b6; animation-delay:0.2s; --x:-320px; --y:-180px; --r:760deg; }
.c6  { background:#e879f9; animation-delay:0.25s;--x:320px;  --y:-160px; --r:-760deg; }

.c7  { background:#c084fc; animation-delay:0.3s; --x:-150px; --y:-120px; --r:640deg; }
.c8  { background:#a855f7; animation-delay:0.35s;--x:150px;  --y:-140px; --r:-640deg; }

.c9  { background:#fb7185; animation-delay:0.4s; --x:-280px; --y:-90px;  --r:700deg; }
.c10 { background:#f43f5e; animation-delay:0.45s;--x:280px;  --y:-100px; --r:-700deg; }

.c11 { background:#ec4899; animation-delay:0.5s; --x:-90px;  --y:-60px;  --r:520deg; }
.c12 { background:#fda4af; animation-delay:0.55s;--x:90px;   --y:-80px;  --r:-520deg; }

/* Physics animation */
@keyframes confetti-pop {
  0% {
    transform: translate(-50%, -50%) scale(0.2) rotate(0deg);
    opacity: 0;
  }

  15% {
    opacity: 1;
  }

  100% {
    transform: translate(
      calc(-50% + var(--x)),
      calc(-50% + var(--y) + 420px)
    ) rotate(var(--r));
    opacity: 0;
  }
}
