/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";
/* Base font */
body {
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', sans-serif;
}

/* Romantic headings */
.font-romantic {
  font-family: 'Playfair Display', serif;
}

/* Quote style */
.font-quote {
  font-family: 'Playfair Display', serif;
  font-style: italic;
}
